@media screen and (max-width: 1200px) {
    .container {
        max-width: 1200px;
        padding: 0 20px;
    }

    .header {
        height: initial;
        padding: 10px 0;
    }

    .header_section {
        border: none;
    }

    .header_contacts-adress,
    .language_toogle {
        display: none;
    }

    .logo_text {
        margin: 5px 0;
    }

    .header_menu {
        width: 0;
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;
    }

    .header_menu.active{
        width: 300px;
        background-color: rgb(255,255,255,.9);
        z-index: 5;
    }

    .header_menu.active ul {
        flex-direction: column;
        padding: 20px;
    }
    .header_menu.active li {
        margin-bottom: 10px;
    }
    
    .header_menu.active a {
        background-color: initial;
        margin-bottom: 20px;
    }

    .nav-menu_burger {
        display: flex;
    }



    .hero_form {
        margin-left: 50px;
    }



    .meed_text{
        width: 100%;
        text-align: center;
    }


    .footer_contacts,
    .footer_social,
    .footer_popular,
    .footer_info {
        width: initial;
    }

}

/* mobile */
@media screen and (max-width: 768px) {
    section {
        padding: 20px 0;
    }

    .container {
        padding: 0 10px;
    }

    .hero_form {
        width: initial;
        padding: 20px 25px;
    }
    .logo {
        width: 50px;
        height: 50px;
    }

    .beauty_wrapper {
        display: none;
    }

    .beauty_switch_list {
        margin-bottom: 0;
    }

    .video_about_hotel_block {
        height: 300px;
    }

    .news_pic {
        height: 130px;
    }

    .feedback_text {
        padding: 0 20px;
    }

}

@media screen and (max-width: 480px) {

    .nav-menu_burger {
        position: absolute;
        top: 0;
        right: 0;
    }

    .header_menu.active{
        width: initial;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }

    .meed_pic {
        width: 150px;
    }
}