/* Start fonts */

@font-face {
    font-family: 'Calibri';
    src: local('Calibri Light'), local('Calibri-Light'),
    url('../fonts/Calibri-Light.woff2') format('woff2'),
    url('../fonts/Calibri-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: local('Calibri'),
    url('../fonts/Calibri.woff2') format('woff2'),
    url('../fonts/Calibri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: local('Calibri Italic'), local('Calibri-Italic'),
    url('../fonts/Calibri-Italic.woff2') format('woff2'),
    url('../fonts/Calibri-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Calibri';
    src: local('Calibri Bold'), local('Calibri-Bold'),
    url('../fonts/Calibri-Bold.woff2') format('woff2'),
    url('../fonts/Calibri-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
  
/* End fonts */



/* Start general style */
body {
    font-family: Calibri, "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

section {
    padding: 64px 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #A48100;
}

p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;;
}

img {
    display: block;
}

.container {
    max-width: 1200px;
    padding: 0 30px;
    margin: auto;
}

.page_title {
    text-align: center;
}

.page_title_invisible {
    height: 0;
    margin: 0;
}

.section_title {
    font-weight: bold;
    font-size: 32px;
    line-height: 140%;
    text-align: center;
    color: #4B1600;
    margin-bottom: 32px;
}

.section_desc {
    max-width: 750px;
    text-align: center;
    margin: 0 auto 32px;
}


/* End general style */




/* Start header */

.header {
    height: 132px;
}

.container-header {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 103px;
    height: 103px;
    background: url(../img/logo.png) no-repeat center;
    background-size: cover;
}

.header_wrapper{
    height: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}

.header_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #4B1600;
}

.logo_text_wrap {
    max-width: 228px;
}

.logo_text {
    width: 100%;
    height: 50px;
    object-fit: contain;
}

.header_button {
    transform: translateY(1px);
}

.header_menu_list {
    display: flex;
    justify-content: space-between;
}

.header_menu_link {
    padding: 14px 7px !important; /* ??? */
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
}

/* End header */



/* Start hero */

.hero {
    background: url(../img/main_bg.jpg) no-repeat top;
    background-size: contain;
    position: relative;
    padding-top: 0;
}

.hero_social {
    width: 40px;
    height: 155px;
    background-color: #4b1600;
    padding: 0 8px;
    position: absolute;
    top: 21px;
    left: 26px;
}

.hero_social_item {
    width: 24px;
    border-bottom: 1px solid #fff;
    padding-top: 7px;
}

.hero_social_item:last-child {
    border-bottom: none;
}

.hero_social a {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 3px;
    margin: 0;
}

.hero_form {
    width: 50%;
    background-color: rgba(75, 22, 0, 0.75);
    padding: 32px 64px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 44px;
}

.hero_form label {
    color: #fff;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;

}

.hero_form_group {
    width: 100%;
    margin-top: 12px;
}

.hero_form_group-half {
    width: 45%;
    display: inline-block;
    margin-top: 12px;
}

.hero_form input {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.hero_form_button {
    width: 100%;
    margin-top: 48px;
}

.hero_slider {
    width: 100%;
    height: 470px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.hero_slider_pic {
    width: 100%;
    height: 193px;
    object-fit: cover;
}

.hero_slider_pic img{
    width: 100%;
    height: 193px;
    object-fit: cover;
}

.hero_slider_item {
    /*width: 30%;*/
    margin: 15px;
    box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.15);
}

.hero_slider_desc {
    padding: 32px 32px 23px;
    text-align: center;
    color: #4B1600;
}

.hero_slider_title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.hero_slider_text {
    font-size: 14px;
    line-height: 20px;
    margin-top: 16px;
}

.hero_slider_button-next {
    top: 160px;
    right: 15px;
    left: auto;
}

.hero_slider_button-prev {
    top: 160px;
    left: 15px;
    right: auto;
}
/* End hero */



/* Start meed */

.meed {
    background-color: #EDE6CC;
}

.meed .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.meed_text{
    width: 30%;
}

.meed_pic {
    width: 267px;
    height: 267px;
    border-radius: 24px 24px 24px 0px;
    overflow: hidden;
}
/* End meed */



/* Start rooms */

.rooms .container {
    text-align: center;
}

.rooms_desc{
    font-size: 16px;
    text-align: center;
}

.rooms_slider {
    margin-top: 48px;
    display: flex;
    justify-content: space-around;
}

.rooms_slider_item {
    width: 45%;
    background: #EDE6CC;
    border: 1px solid #E0E0E0;
}

.rooms_slider_pic {
    height: 50%;
}

.rooms_slider_pic img {
    width: 100%;
    height: 320px;
    object-fit: cover
}

.rooms_slider_desc {
    padding: 32px 28px;
    text-align: center;
}

.rooms_slider_desc button:last-child {
    margin-left: 32px;
}

.rooms_slider_text  {
    margin-top: 48px;
    line-height: 150%;
}

.rooms_button {
    display: inline-block;
    margin: 60px auto 0;
}
/* End rooms */



/* Start beauty */

.beauty_switch_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 66px;
}

.beauty_switch_item {
    width: 160px;
    height: 120px;
    position: relative;
}

.beauty_switch_button {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    border: none;
    border-radius: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(51,51,51,.5);
}

.beauty_switch_button:hover {
    background-color: rgba(164,129,0,.9);
}

.beauty_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.beauty_pic {
    width: 45%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.beauty_desc {
    width: 45%;
}
/* End beauty */



/* Start video_about_hotel */

.video_about_hotel {
    height: 680px;
    background-color: #EDE6CC;
    margin-bottom: 64px;
    padding-top: 32px;
}

.video_about_hotel_block {
    width: 100%;
    height: 630px;
    border: 1px solid grey;
    background-color: #fff;
}
/* End video_about_hotel */



/* Start news */

.news_wrapper {
    display: flex;
    justify-content: space-between;
}

.news_item {
    width: 30%;
    text-align: center;
}

.news_pic {
    width: 100%;
    height: 357px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.news_date {
    padding-top: 32px;
}

.news_button {
    display: block;
    margin: auto;
}
/* End news */



/* Start insta */

.insta {
    padding-top: 0;
}

.insta_slider {
    display: flex;
    justify-content: space-between;
}

.insta_slider_item {
    width: 30%;
    height: 269px;
    display: inline-block;
}

.insta_button {
    display: block;
    margin: 64px auto 0;
}
/* End insta */



/* Start feedback */

.feedback {
    background-color: #EDE6CC;
}

.feedback_slider_item {
    width: 70%;
    text-align: center;
    margin: auto;
}

.feedback_text-all {
    position: relative;
    display: inline-block;
    line-height: 150%;
    margin-bottom: 10px;
    transition: all .3s;
}

.feedback_text-all:after {
    width: 0;
    position: absolute;
    content: "";
    top: auto;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid #A48100;
    transition: all .3s;
}

.feedback_text-all:hover {
    color: #735A00;
}

.feedback_text-all:hover:after {
    width: 100%;
    border-color: #735A00;
}

.feedback_button {
    display: block;
    margin: auto;
}
/* End feedback */



/* Start reward */

.reward_list{
    display: flex;
    justify-content: space-around;
}
.reward_item {
    width: 129px;
    text-align: center;
}
.reward_title {
    margin: 16px 0;
}
.reward_status,
.reward_year {
    font-size: 12px;
    line-height: 160%;
}
/* End reward */


/* Start contacts */

.contacts {
    background-color: #EDE6CC;
}
.contacts .container {
    display: flex;
    flex-wrap: wrap;
}
.map {
    width: 50%;
}
.contacts_wrapper {
    width: 50%;
}
.contacts .section_title {
    text-align: left;
}
/* End contacts */


/* Start footer */

.footer {
    padding-top: 43px;
    padding-bottom: 70px;
}
.footer .container{
    display: flex;
    justify-content: space-between;
}
.footer_contacts {
    width: 31%;
}
.footer_social,
.footer_popular,
.footer_info {
    width: 23%;
}
.footer_logo {
    display: flex;
    align-items: center;
}
.footer_logo_pic {
    width: 47px;
    margin-right: 30px;
}
.footer_popular,
.footer_info {
    font-size: 14px;
    line-height: 20px;
}
.footer_social ul {
    margin-bottom: 80px;
}
.footer a {
    color: #000;
}
/* End footer */