/*  headers */

h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    text-transform: uppercase;
}
h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;
}
h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
}
h4 {
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
}
h5 {
    font-weight: bold;
    font-size: 14px;
    line-height: 143%;
}


/*  button  */

button {
    border: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}
a.large,
a.medium,
a.small{
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
}

button.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button.large,
a.large {
    padding: 16px 40px;
    font-size: 16px;
    line-height: 24px;
}

button.medium,
a.medium {
    padding: 14px 24px;
    font-size: 14px;
    line-height: 20px;
}

button.small,
a.small {
    padding: 8px 16px;
    font-size: 12px;
    line-height: 16px;
}


button.primary,
a.primary {
    background-color: #A48100;
    color: #fff;
}

button.primary:hover,
a.primary:hover {
    background-color: #735A00;
}

button.secondary,
a.secondary {
    background-color: transparent;
    color: #403d37;
    border: 1px solid #403d37;
}

button.secondary:hover,
a.secondary:hover {
    background-color: #403d37;
    color: #fff;
}

button.ghost,
a.ghost {
    background-color: #fff;
    color: #000;
}

button.ghost:hover,
a.ghost:hover {
    color: #735A00;
}

.slider_button-next,
.slider_button-prev {
    width: 48px;
    height: 48px;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #828282;
    background-color: #fff;
}

.slider_button-next {
    transform: rotate(180deg);
}

a.regular {
    font-size: 16px;
    line-height: 24px;
    color: #a48100;
    border-bottom: 1px solid #a48100;
}
